:root {
    --orange: #D16014;
    --white: #ffffff;
    --dark: #131516;
    --grey: #3C3941;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}
  
body {
   background-color: var(--grey);
   font-family: 'Poppins', sans-serif;
   min-height: 100%;
}

strong {
    color: var(--orange);
}

.footer {
    background-color: var(--grey);
    color: var(--white);
    border: 1px solid var(--orange);
}

a {
    color: var(--orange);
}

.sidenav {
    height: 100%; 
    width: 185px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    right: 0;
    background-color: var(--dark); 
    overflow-x: hidden; 
    padding-top: 20px;
  }

.label {
    color: var(--white);
    -webkit-text-stroke: 1px black;
}

.is-size-3 {
    color: var(--orange);
    font-weight: bold;
    -webkit-text-stroke: 1px black;
}

.button {
    background: var(--orange);
    border: 1px solid var(--dark);
    color: var(--white);
    -webkit-text-stroke: 1px black;
    width: 10%;
    font-weight: bold;
}

.input {
    width: 66%;
    background-color: var(--grey);
    color: var(--white);
    border: 1px solid var(--orange);
}

#initialBody {
    background-image: url('../images/bg-intial-search.jpg');
    background-repeat: no-repeat;
    max-width: 910px;
    height: 607px;
    border: 1px solid var(--orange);
}

.modal {
    color: var(--white);
}

.modal-card-head {
    background-color: var(--dark);
    color: var(--white);
}

.modal-card-title {
    color: var(--white);
}

.modal-card-body {
    background-color: var(--grey);
}

.modal-card-foot {
    background-color: var(--dark);
}

.input::placeholder {
    color: rgba(255, 255, 255, .5);
}

#errorText {
    color: red;
}

#favButton {
    background: var(--orange);
    border: 1px solid var(--dark);
    color: var(--white);
    -webkit-text-stroke: 1px black;
    width: 40%;
    font-weight: bold;
    font-size: 1.2rem;
}

@media screen and (max-width: 720px) {
    .sidenav {
        padding-top: 15px;
        width: 155px;}
  }

